# Credentials to fill sign-in form (use to speed up development)
USERNAME=username
PASSWORD=password

# Enables BLE emulation to develop application without real device
# Also need to fix manually Config.java
USE_EMULATED_BLE=false
