name: nextsense_trial_ui
description: NextSense Trial application.
publish_to: none

version: 0.1.0

environment:
  sdk: ">=2.18.0" # Dart version
  flutter: ">=3.0.0" # Flutter SDK

dependencies:
  flutter:
    sdk: flutter
  nextsense_base:
    path: ../nextsense_base
  app_settings: ^4.1.5
  audioplayers: ^1.0.1
  awesome_notifications: ^0.7.1
  charts_flutter: ^0.12.0
  circular_countdown_timer: ^0.2.1
  cloud_firestore: ^3.1.17
  connectivity_plus: ^2.2.1
  device_info_plus: ^5.0.1
  dropdown_button2: ^1.5.2
  expandable: ^5.0.1
  firebase_auth: ^3.10.0
  firebase_core: ^1.23.0
  firebase_crashlytics: ^2.8.11
  firebase_dynamic_links: ^4.3.8
  firebase_messaging: ^13.0.3
  firebase_storage: ^10.3.9
  flutter_dotenv: ^5.0.2
  flutter_form_builder: ^7.1.1
  flutter_hooks: ^0.18.2+1
  flutter_native_splash: ^2.1.6
  flutter_signin_button: ^2.0.0
  flutter_slidable: ^1.3.0
  flutter_svg: ^1.1.0
  flutter_svg_provider: ^1.0.3
  form_builder_validators: ^8.0.0
  get_it: ^7.2.0
  google_sign_in: ^5.1.0
  gson: ^0.1.6-dev
  http: ^0.13.4
  # The version 0.0.1 in pub.dev does not include the thread-safe changes committed to master in
  # github.
  iirjdart:
    git:
      url: https://github.com/Supercaly/iirjdart
      ref: master # branch name
  introduction_screen: # ^3.0.2
    path: ../../introduction_screen
  logging: ^1.0.2
  package_info_plus: ^1.4.2
  path_provider: ^2.0.8
  permission_handler: ^10.1.0
  persistent_bottom_nav_bar_v2: ^4.2.3
  provider: ^6.0.1
  receive_intent: ^0.2.1
  scidart: ^0.0.2-dev.9
  scrollable_positioned_list: ^0.3.2
  settings_ui: ^2.0.2
  shared_preferences: ^2.0.13
  shimmer: ^2.0.0
  stacked: ^2.3.8
  uuid: ^3.0.5
  wakelock: ^0.6.1+2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  # cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/images/
    - assets/sounds/
    # Note that .env file path not working, had to rename it to env
    - env


  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family: DMMono
      fonts:
        - asset: assets/fonts/DM_Mono/DMMono-Italic.ttf
          style: italic
        - asset: assets/fonts/DM_Mono/DMMono-Light.ttf
          weight: 100
        - asset: assets/fonts/DM_Mono/DMMono-LightItalic.ttf
          style: italic
          weight: 100
        - asset: assets/fonts/DM_Mono/DMMono-Medium.ttf
          weight: 500
        - asset: assets/fonts/DM_Mono/DMMono-MediumItalic.ttf
          style: italic
          weight: 500
        - asset: assets/fonts/DM_Mono/DMMono-Regular.ttf

  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.
  module:
    androidX: true
    androidPackage: io.nextsense.mobile.trial.nextsense_trial_ui
    iosBundleIdentifier: io.nextsense.mobile.trial.nextsenseTrialUi

# Run "./scripts/update_splash.sh" after update any fields here
flutter_native_splash:
  android_12:
    #TODO(alex): figure out image size and resolution for Android 12
    image: assets/images/splash_logo_android_12.png
  # Warning: need to change color for Android 12 manually in values-v31/themes.xml
  # 'windowSplashScreenBackground'
  color: "#984df1"
  # Logo image that will be placed at center
  image: assets/images/splash_logo.png
  # Right now we only support Android app
  android: true
  ios: false