<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nextsense.android.service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:label="NextSense">

        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>