<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <!-- Remove permissions added from Lucid Flutter packages. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:node="remove" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:name=".NextSenseApplication">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="nextsense-prod.firebaseapp.com"
                    android:scheme="http"/>
                <data
                    android:host="nextsense-prod.firebaseapp.com"
                    android:scheme="https"/>
                <data
                    android:host="mobile.nextsense.io"
                    android:scheme="http"/>
                <data
                    android:host="mobile.nextsense.io"
                    android:scheme="https"/>
                <data
                    android:host="nextsense.io"
                    android:scheme="http"/>
                <data
                    android:host="nextsense.io"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>
</manifest>