name: lucid_reality
description: Lucid Reality.
publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#
# This version is used _only_ for the Runner app, which is used if you just do
# a `flutter run` or a `flutter make-host-app-editable`. It has no impact
# on any other native host app that you embed your Flutter project into.
version: 1.0.0+1

environment:
  sdk: '>=3.1.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  nextsense_base:
    path: ../nextsense_base
  flutter_common:
    path: ../flutter_common
  app_settings: ^5.1.1
  assets_audio_player: ^3.1.1
  awesome_notifications: ^0.8.2
  community_charts_flutter: ^1.0.2
  circular_countdown_timer: ^0.2.1
  connectivity_plus: ^5.0.2
  dropdown_button2: ^1.5.2
  disable_battery_optimization: ^1.1.1
  file: ^6.1.4
  email_validator: ^2.1.16
  firebase_auth: ^4.10.1
  firebase_crashlytics: ^3.0.10
  firebase_dynamic_links: ^5.0.11
  firebase_messaging: ^14.2.1
  firebase_core: 2.17.0
  firebase_database: 10.2.7
  fixnum: ^1.1.0
  fluttertoast: ^8.1.1
  flutter_calendar_carousel: ^2.4.2
  flutter_dotenv: ^5.0.2
  flutter_form_builder: ^9.1.1
  flutter_hooks: ^0.18.2+1
  flutter_native_splash: ^2.1.6
  flutter_signin_button: ^2.0.0
  flutter_slidable: ^1.3.0
  flutter_spinbox: ^0.13.1
  flutter_svg: ^2.0.9
  flutter_svg_provider: ^1.0.3
  form_builder_validators: ^9.1.0
  get_it: ^7.6.4
  gson: ^0.1.6-dev
  hand_signature: ^3.0.2
  health:
    git:
      url: https://github.com/eric-nextsense/flutter-plugins
      path: packages/health
      ref: health-connect-android-14-fix
  iirjdart: ^0.1.0
  installed_apps:  # ^1.4.0
    git:
      url: https://github.com/eric-nextsense/installed_apps
  intl: ^0.18.1
  introduction_screen: # ^3.0.2
    path: ../../introduction_screen
  quiver: ^3.2.1
  logging: ^1.0.2
  package_info_plus: ^4.2.0
  path_provider: ^2.0.8
  permission_handler: ^10.4.5
  persistent_bottom_nav_bar_v2: ^4.2.3
  progressive_time_picker: ^0.0.9
  protobuf: ^2.0.0
  provider: ^6.0.1
  # Applied https://github.com/daadu/receive_intent/pull/25 for AGP 8 compatibility and updated
  # kotlin version.
  receive_intent:  # ^0.2.4
    git:
      url: https://github.com/eric-nextsense/receive_intent
  record: ^5.0.4
  scidart: ^0.0.2-dev.9
  scrollable_positioned_list: ^0.3.2
  settings_ui: ^2.0.2
  shared_preferences: ^2.0.13
  shimmer: ^2.0.0
  # Updated kotlin version for AGP 8 compatibility.
  soundpool:  # ^2.4.1
    git:
      url: https://github.com/eric-nextsense/soundpool
      path: soundpool
  stacked: ^3.4.1+1
  timezone: ^0.9.1
  url_launcher: ^6.2.4
  uuid: ^3.0.5
  wakelock_plus: ^1.1.4
  flutter_wear_os_connectivity: ^1.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/images/
    - assets/sounds/totem_sounds/
    # Note that .env file path not working, had to rename it to env
    - env

  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  fonts:
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat/Montserrat-Regular.ttf
          weight: 400
          style: normal
        - asset: assets/fonts/Montserrat/Montserrat-SemiBold.ttf
          weight: 600
          style: normal
        - asset: assets/fonts/Montserrat/Montserrat-Bold.ttf
          weight: 700
          style: normal
  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.
  module:
    androidX: true
    androidPackage: io.nextsense.android.main.lucid_reality
    iosBundleIdentifier: io.nextsense.android.main.lucid_reality

# Run "./scripts/update_splash.sh" after update any fields here
flutter_native_splash:
  android_12:
    #TODO(alex): figure out image size and resolution for Android 12
    image: assets/images/splash_bg.png
  # Warning: need to change color for Android 12 manually in values-v31/themes.xml
  # 'windowSplashScreenBackground'
  color: "#0B0D1C"
  # Logo image that will be placed at center
  image: assets/images/splash_bg.png
  # Right now we only support Android app
  android: true
  ios: false
